[submodule "imgui"]
	path = imgui
	url = https://github.com/thedmd/imgui.git
[submodule "imgui-node-editor"]
	path = imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
[submodule "onnx"]
	path = onnx
	url = https://github.com/onnx/onnx.git
